.container{
   width: 80%;
   border: 10px solid gray;
   margin: 10px auto;
   min-height: 200px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

[class*="item-"]{
   border: solid 5px green;
   background-color: beige;
}

.container2{
   width: 80%;
   border: 10px solid gray;
   margin: 10px auto;
   min-height: 200px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   align-content: space-around;
   flex-wrap: wrap;
}

[class*="item2-"]{
   border: solid 5px green;
   background-color: beige;
}

.item2-2{
   height: 30px;
}

.item2-3{
   height: 50px;
}